body{
    background-color: rgb(160, 195, 219);
    font-family: "Raleway", sans-serif;
}
div{
    align-items: center;
    color: rgb(240, 243, 248);
    margin: 20px;
    padding: 20px 8px 5px 8px;
}
.mt-5{
    background-color: rgb(135, 164, 199);
    border-radius: 8px;
}
.mt-5 h3{
    text-align: center;
    color: rgb(60, 95, 124);
}
.mt-5 .mt-4{
    color: rgb(255, 255, 255);
}
.mt-5 .mt-4 .btn{
    background-color: rgb(89, 170, 207);
    border-color: rgb(52, 129, 165);
}

